html { font-size: 16px; }
body {
  font-size: 62.5%;
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
  background: #dddddd;
  position: relative;
}
h1, h2, h3, h4, #thebigq { font-family: 'Kreon', arial, serif; }
#article {
  background: white;
  margin: 50px 0 50px 50px;
  width: 600px;
  float: left;
  box-shadow: 0 0 5px #aaaaaa;
  -moz-box-shadow: 0 0 5px #aaaaaa;
  -webkit-box-shadow: 0 0 5px #aaaaaa;
  position: relative;
}
#article * {
  position: relative;
  z-index: 2;
}
#article h1 {
  font-size: 3.2em;
  padding: 20px;
  line-height: 1.3em;
}
#article h4 {
  font-size: 1.8em;
  display: inline;
  background: #121212;
  padding: 8px 20px 5px 20px;
  color: #aaaaaa;
  text-shadow: 1px 1px 0 #111111;
  float: right;
  right: -30px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  z-index: 3;
}
#article p {
  font-size: 1.4em;
  padding: 0 20px 16px 20px;
  line-height: 1.42em;
}
#article .highlight { margin-bottom: 16px; }
#article .highlight pre {
  padding: 14px 20px 16px 20px;
  background: #121212;
  text-shadow: 1px 1px 0 black;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
}
#right { float: left; }
#right #demowrap {
  border: 5px dashed #aaaaaa;
  overflow: hidden;
  padding: 20px;
  margin: 50px 50px 20px 50px;
  z-index: 2;
  position: relative;
}
#right #demowrap h2 {
  font-size: 3.2em;
  text-align: right;
  color: #aaaaaa;
  text-shadow: 1px 1px 0 white;
  padding-bottom: 30px;
}
#right #meta {
  margin: 0 50px 0 50px;
  text-align: left;
  font-size: 1.3em;
  color: #555555;
  position: relative;
  z-index: 2;
  padding-top: 20px;
  margin-top: 50px;
}
#right #meta a {
  color: #444444;
  text-decoration: none;
}
#right #meta a:hover {
  color: #333333;
  border-bottom: 1px solid #333333;
}
#right #meta .left {
  width: 50%;
  float: left;
}
#right #meta .right {
  width: 50%;
  float: left;
}
#right #meta h3 {
  padding-bottom: 10px;
  font-size: 1.8em;
  text-shadow: 1px 1px 0 white;
}
#right #meta ul { line-height: 20px; }
#right #meta ul li {
  padding: 5px 0 5px 0;
  line-height: 16px;
}
#right #meta ul:first-child { padding-right: 14px; }
#thebigq {
  position: absolute;
  top: 60px;
  left: 440px;
  color: rgba(14, 103, 161, 0.3);
  z-index: 1;
  font-size: 30em;
  display: none;
}
