<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pygments-fruity.css" />
    <link rel='stylesheet' type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Kreon" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/site.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22060511-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>
    <div class="clear"></div>
    <div id="thebigq">Q</div>
  </body>
</html>