<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pygments-fruity.css" />
    <link rel='stylesheet' type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Kreon" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/site.js"></script>
  </head>
  <body>
    <div id="content">
      {{ content }}
    </div>
    <div class="clear"></div>
    <div id="thebigq">Q</div>
  </body>
</html>